
body{
    margin: 0;
    text-align: center;
}

.Titulo{
    background-color: #E4F9F5;
    padding: 20px
}
.Ferramentas{
    display: inline-block;
    width: 100px;
}

.Corpo1 {
    background-color: #f7f9e4;
    padding: 20px
}

.Corpo2 {
    background-color: #E4F9F5;
    padding: 20px
}